Makefile
Makefile.chatcleaner
Makefile.pokerth_db
Makefile.pokerth_dbofficial
Makefile.pokerth_game
Makefile.pokerth_lib
Makefile.pokerth_protocol
Makefile.pokerth_server
qrc_pokerth.cpp

bin/
lib/
mocs/
obj/
uics/
